.vscode
#other files
*.DS_Store

# Byte-compiled
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

#vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace