# results
results/**

# plots
plots/**

#other files
*.DS_Store

# Byte-compiled
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints
test.ipynb 

#vscode
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
src/test.ipynb
